.about {
    width: 100%;
    .banner {
        height: calc(100vw/1920*560);
        .banner_about_about {
            height: 100%;
            background: url("./../../public/images/about_about_banner.png");
            background-size: contain;
        }
        .banner_about_contact {
            height: 100%;
            background: url("./../../public/images/about_contact_banner.png");
            background-size: contain;
        }
        .banner_about_dev_path {
            height: 100%;
            background: url("./../../public/images/about_dev_path_banner.png");
            background-size: contain;
        }
        .banner_about_news {
            height: 100%;
            background: url("./../../public/images/about_news_banner.png");
            background-size: contain;
        }
        .banner_about_join_us {
            height: 100%;
            background: url("./../../public/images/about_join_us.png");
            background-size: contain;
        }
    }
    .content {
        width: 63.5%;
        margin: auto;
    }
    .contact_box {
        margin: 83px 0;
        display: flex;
        justify-content: space-between;
        ul {
            li {
                position: relative;
                width: 217px;
                width: calc(100vw/1920*217);
                height: 58px;
                margin-bottom: 36px;
                background-color: #eee;
                border-radius: 4%;
                font-size: 26px;
                line-height: 58px;
                text-align: center;
                color: #fff;
                &:after {
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    pointer-events: none;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-left-color: #88b7d5;
                    border-width: 7px;
                    left: 50%;
                    top: 40%; // margin-left: -10px;
                    left: 100%;
                }
            }
            li.active {
                background: linear-gradient(right, #799fff, #c6a1ff);
            }
        }
        .map {
            width: calc(100vw/1920*913);
            height: calc(100vw/1920*390);
        }
    }
    .about_us_box {
        .ins {
            height: 288px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                font-size: 16px;
                line-height: 32px;
            }
        }
        img {
            width: 100%;
            margin-bottom: 87px;
        }
        .company_culture {
            // position: relative;
            // max-width:1907px;
            width: 158%;
            margin-left: -29.5%;
            img {
                width: 100%;
            }
        }
    }
    .about_dev_path {
        margin: 81px 0;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .about_join_us {
        ul.job_list {
            margin-top: 84px;
            li {
                padding: 28px 42px;
                background-color: #f9f9f9;
                display: flex;
                justify-content: space-between;
                height: 130px;
                margin-bottom: 20px;
                display: flex;
                font-size: 24px;
                box-sizing: border-box;
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        span:first-child {
                            color: #8b8b8b;
                        }
                        span {
                            color: #5853ce;
                        }
                    }
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
        .job_info {
            padding: 42px 31px;
            background-color: #fcfcfc;
            ul.job_addr {
                display: flex;
                justify-content: flex-start;
                li {
                    text-align: center;
                    line-height: 73px;
                    background-color: #ffffff;
                    width: 198px;
                    width: calc(100vw/1920*198);
                    height: 73px;
                    margin-right: 32px;
                    color: #8b8b8b;
                }
            }
            p {
                padding-top: 31px;
            }
            .claim {
                h3 {
                    color: #595959;
                }
                ul {
                    li {
                        line-height: 32px;
                    }
                }
            }
        }
    }
    .about_news {
        ul.news_list {
            a:first-child {
                li {
                    margin-top: 62px;
                }
            }
            a {
                li {
                    display: flex;
                    justify-content: space-around; // margin-bottom: 22px;
                    border-bottom: 1px solid #666;
                    padding: 22px 0;
                    &>div {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        .title_time {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            line-height: 40px;
                            color: #222222;
                            h3 {
                                font-weight: normal;
                                font-size: 24px; // margin-bottom: 43px;
                            }
                            span {
                                vertical-align: bottom;
                                padding-right: 22px;
                            }
                        }
                        p {
                            color: #666666;
                            padding-right: 42px;
                        }
                    }
                    img {
                        height: 146px;
                    }
                }
            }
        }
        .pagination_bar {
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin-right: 37px;
            }
        }
    }
    .article_detail {
        padding: 82px 0;
        p.back {
            height: 67px;
            a {
                font-size: 18px;
                color: #5853ce;
            }
        }
        h3 {
            text-align: center;
        }
        div.date_time_author {
            display: flex;
            justify-content: center;
            width: 30%;
            margin: 43px auto;
            span {
                flex: 3;
            }
            span:last-child {
                flex: 4;
            }
        }
        div.context{
            font-size: 16px;
            p{
                margin: 20px 0;
                text-indent:2em;
            }
            img{
                width: 100%;
            }
            span{
                margin: 30px auto;
                display: block;
                text-align: center;
            }
        }
    }
}