<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<html>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="stylesheet" href="./ft-carousel.css" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"> -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/ft-carousel.js"></script>
    <script type="text/javascript">
        window.jquery = $;
    </script>
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=f4e66292836f88b8608d5a8903a1c0ab"></script>
    <title>
        <%= context.title %>
    </title>
</head>

<body>

    <div id="root"></div>




</body>

</html>