.net {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 835px;
}

p {
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.digt_wallet {
    width: 100%;
    height: auto;
    .background_01 {
        background: url("./../../public/images/img05.png") no-repeat;
        height: calc(100vw/1920*770);
        background-size: 100% 100%;
        display: flex;
        align-items: center; // height: calc(100vh / 1920 * 230*2);
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: calc(100vw / 1920 * 230*2);
                width: 230px;
                width: calc(100vw / 1920 * 230);
                background-color: rgba(0, 0, 0, 0.3);
                margin: 0 10px;
                color: #fff;
                .hr {
                    border-bottom: 2px solid #5853ce;
                    width: calc(100vw / 1920 * 148);
                    margin: calc(100vw / 1920 * 30) 0;
                }
                .big_font {
                    font-size: 28px;
                }
                .english {
                    font-size: 16px;
                }
                p {
                    margin: 5px 0;
                }
                p.detail {
                    display: none;
                }
                span {
                    display: none;
                }
            }
        }
        li:hover {
            background-color: #5853ce;
            div.hr {
                display: none;
            }
            .big_font {
                margin-top: 25px;
            }
            .english {
                margin-bottom: 15px;
            }
            p.detail {
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 2px;
                display: block;
                height: calc(100vw / 1920 * 100);
                width: 200px;
                height: 125px;
            }
            span {
                display: block;
                border: 1px solid #fff;
                padding: 5px 30px;
            }
        }
    }
}

.more_application_sense{
    
    .content{
        img{
            width: 100%
        }
        p{
            display: flex;
            justify-content: center;
            
            margin-top: calc(100vw/1920*64);
            margin-bottom: calc(100vw/1920*92);
            span{
                width:calc(100vw/1920*184);
                height: calc(100vw/1920*46);
                // padding: 11px 23px;
                border: 1px solid #5853ce;
                font-size: 20px;
                text-align: center;
                line-height: 40px; 
            }
        }
    }
}

.partner{
    width: 63%;
    margin: auto;
    margin-top:60px;
    img{
        margin: auto;
        display: block;
    }
    ul:nth-child(2){
        display: flex;
        flex-direction: column;
        
        .first_part,.second_part,.third_part{
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            
        }
        li{
            width: 288px;
            height: 138px;
            background-color: antiquewhite;
            // margin-right:  10px;
        }
    }
    .switch_btn{
        height: 30px;
        width: 44px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 30px;
        li{
            width: 11px;
            height: 11px;
            border: 1px solid;
            border-radius: 50%;
            background-color: #777;
            border-color: #777;
        }
        li.active{
            background-color: #5853ce;
            border-color: #5853ce;
        }
    }
    

}
.news{
    img{
        margin: auto;
        display: block;
    }
    margin-bottom: 180px;
}
.bottom_word{
    img{
        height: auto;
        width: 100%;
    }
}