.product{
    .ins_box{
       background: url("./../../public/images/product_service_01.png");
       width:100%;
       height: 409px;
       .ins{
           width: 63.5%;
           margin: auto;
        .title{
            font-size: 38px;
            line-height: 238px;
            display: flex;
            justify-content: center;
        
        }
        p{
            font-size: 18px;
            line-height: 38px;
        }
       }
       
    }
}